@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", "Roboto", "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}
